<input ng-model="search" type="search">
<md-button class="md-primary md-raised" ng-click="addNewProduct($event)">
      ADD NEW PRODUCT
 </md-button>
<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th>ID</th>
			<th>Name</th>
			<th>Inventory Count</th>
			<th>Quantity Sold</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
		{{}}
			<td><img ng-src="{{product.url}}"></td>
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.inventory}}</td>
			<td>{{product.quant_sold}}</td>
			<td><p ng-click="edit()">Edit</p><p ng-click="deleteProducts(product.id)">Delete</p></td>
		</tr>
	</tbody>
</table>