<a href="#">Go Back</a>
<h3>{{product.name}}</h3>
<div>
	<img src="#">
	<img src="#"><img src="#">
</div>
<div>
	<p>{{product.description}}</p>
	<select>
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
</div>
<h4>Similar Items</h4>
<div ng-repeat= "product in products">
	<img src="#">
	<p>{{product.price}}</p>
	<p>{{product.name}}</p>
</div>
