<a href="/">Go Back</a>
<h3>{{product.name}}</h3>
<div>
	<img src="#">
	<img src="#"><img src="#">
</div>
<div>
	<p>{{product.description}}</p>
	<form ng-submit = "addToCart()">
		<select ng-model = "item.quantity">
			<option ng-repeat = "q in product.inventory | limitTo: 10" value="{{q}}">{{q}}({{product.price*q}})</option>
		</select>
		<input type="submit" value="Add to Cart">
	</form>

</div>
<h4>Similar Items</h4>
<div ng-repeat= "product in related">
	<img src="#">
	<p>{{product.price}}</p>
	<p>{{product.name}}</p>
</div>
